@page
@model Individual_Project.Pages.HabitatModel
@{
    ViewData["Title"] = "Habitat";
}
<p>The arctic fox lives within Arctic and alpine tundra, in coastal areas, on ice floes, and nore of the tree line</p>
<br />
<p> The Arctic fox has a circumpolar range and is found in the tundra extending through the northernmost regions of Europe, Asia, North America, Greenland, and Iceland. In North America. </p><br />
   <p> the Arctic fox is found from western Alaska east through northern Canada, including portions of the Northwest Territories, Alberta, Manitoba, and Quebec.</p>