@page
@model Individual_Project.Pages.informationModel
@{
    ViewData["Title"] = "Info";
}

<body style="background-color: #d3e7fa;">
    <h1>Information on the Arctic Fox</h1>
    <h3>life span</h3>
    <p>Arctic foxes live for three to six years</p><br />
    <p>the average gestation period is four to five weeks. Births occur from April through June for the first litter and in July or August for the second litter. Usual litter size is five to eight kits</p>
    <h3>food</h3>
    <p>Arctic foxes are opportunistic feeders, eating practically any animal alive or dead</p><br />
    <p> Arctic foxes collect a surplus of food and carry it back to their dens to bury and store</p><br />

    <h3>Endangerment</h3>
    <p> most populations of arctic fox have been in decline due to overhunting and lack of food sources</p>
    <p> Arctic foxes are threatened by global warming, competiton from the red fox population, and hunting and trapping for their fur</p>
    </body>