@page
@model Individual_Project.Pages.photoModel
@{
    ViewData["Title"] = "Gallery";
}

<table>
    <tr>
        <th>
            <img src="https://yukonwildlife.ca/wp-content/uploads/2020/05/MG_8647-YWP-Jake-PalecznyBanner-scaled.jpg" alt="artic fox" width="500" height="500">
        </th>
        <th>
            <img src="https://qph.cf2.quoracdn.net/main-qimg-76a24038337f574cf34c4c43cea72699-lq" alt="artic fox" width="500" height="500">
        </th>
    </tr>
    <tr>
        <th>
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_27/2918766/190702-arctic-fox-mc-1210.JPG" alt="artic fox" width="500" height="500">
        </th>
        <th>
            <img src="https://live.staticflickr.com/2664/4166339989_dfaa8f14f9_b.jpg" alt="artic fox" width="500" height="500">
        </th>
    </tr>
    <tr>
        <th>
            <img src="https://media.wired.co.uk/photos/606db0c8d051e15de128c7a3/master/w_1600,c_limit/william-doranflickrcc-by-nc-sa-20.jpg" alt="artic fox" width="500" height="500">
        </th>
        <th>
            <img src="https://media.wired.co.uk/photos/606db0c81dcb46afc3a1dd15/master/w_1600,c_limit/tambako-the-jaguarflickrcc-by-nd-20-2.jpg" alt="artic fox" width="500" height="500">
        </th>
    </tr>
    <tr>
        <th>
            <img src="https://cdn.hswstatic.com/gif/arctic-fox-1.jpg" alt="artic fox" width="500" height="500">
        </th>
        <th>
            <img src="https://media.venturatravel.org/unsafe/800x600/smart/header_media/19ff55e6-ec5f-430f-8535-ab1eb93db52e-arctic-fox.jpg" alt="artic fox" width="500" height="500">
        </th>
    </tr>
</table>


