@page
@model Individual_Project.Pages.referModel
@{

}

<h1> references </h1>
<ol>
    <li>https://kids.nationalgeographic.com/animals/mammals/facts/arctic-fox </li>
    <li>https://www.biologicaldiversity.org/species/mammals/Arctic_fox/natural_history.html </li>


</ol>